.gist{

  &-editor{
    border: 2px solid rgba(255, 255, 255, 0.2);
  }

  &-actions{
    margin: 20px 0;
  }
  &-file{
    margin: 20px 0;
    &-top{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &-top:hover{
      .gist-file-remove{
        display: block;
      }
    }
    &-name{
      margin: 10px 0;
    }
    &-remove{
      display: none;
    }
  }
}