{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "python", "php"],
        "plugins": ["line-numbers"],
        "theme": "twilight",
        "css": true
    }]
  ]
}