.header{
  display: flex;
  justify-content: space-between;
  align-items: center;

  nav{
    
    &>*{
      margin: 0 5px;
    }
  }

  &-user{
    display: flex;
    align-items: center;

    &-name{
      display: flex;
      align-items: center;
      margin: 0 20px 0 0;
    }
    &-img{
      width: 32px;
      margin: 0 10px;
      display: block;
      border-radius: 24px;
    }
  }
  
}