.app{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 80px 1fr 50px;
  grid-template-areas: 
    "h h"
    "s m"
    "f f";
}

header,
aside,
main,
footer{
  box-sizing: border-box;
  padding: 20px;
}

header{
  grid-area: h;
  background: rgb(75, 44, 44);
}

aside{
  grid-area: s;
  background: rgb(68, 95, 68);
}

main{
  grid-area: m;
  background: rgb(45, 45, 92);
}

footer{
  grid-area: f;
  background: rgb(68, 68, 33);
}