.app{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 80px 1fr 60px;
  grid-template-areas: 
    " h h"
    " g m"
    " f f";
}

header,
aside,
main,
footer{
  box-sizing: border-box;
  padding: 20px;
}

header{
  grid-area: h;
  background: #2c3b4b;
}

.side-gists{
  grid-area: g;
}
.side-tags{
  grid-area: t;
}

main{
  grid-area: m;
}

footer{
  grid-area: f;
  background: #111;
}